# gnome keyring
dbus-update-activation-environment --all
gnome-keyring-daemon --start --components=secrets

# remap caps to escape
setxkbmap -option caps:escape

# pipewire
gentoo-pipewire-launcher &

# other programs
picom --experimental-backends &
nm-applet &
udiskie &

# launch awesome
dbus-launch awesome
